<body id="foot">
<footer class="footer">
  <small>
    The social app, <a href=".">Fifteen Minutes (beta)</a>
    by <a href="https://www.youtube.com/watch?v=Drqj67ImtxI">Voskuil</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>