<body id="foot">
<footer class="footer">
  <small>
    The social app, <a href=".">Fifteen Minutes (beta)</a>
    by <a href="https://github.com/Voskuil">Voskuil</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", contact_path %></li>
    </ul>
  </nav>
</footer>